RESEND_API_KEY=api-key

# Supabase Environment Variables
NEXT_PUBLIC_SUPABASE_URL=https://gaitofyakycvpwqfoevq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdhaXRvZnlha3ljdnB3cWZvZXZxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTAxMDM4NjUsImV4cCI6MjA2NTY3OTg2NX0.M0TLoBBydHvc4hbQ7LNG2zocFd6GKS-WMwOAkHzEShA
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key

# App Configuration (NEW)
NEXT_PUBLIC_APP_URL=http://localhost:3001

# Admin Email
ADMIN_EMAIL=peleke.s@protonmail.com
ADMIN_PASSWORD=password
